* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(28, 28, 35);
  }
  
  .btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    border: 2px solid #d5d5d59a;
    width: 120px;
    height: 120px;
    margin: 20px;
    text-transform: capitalize;
    border-radius: 50%;
  }
  
  .purple {
    background-color: purple;
  }
  
  .blue {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: gold;
  }
  
  .teal {
    background-color: teal;
  }
  
  .content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }